<p id="notice"><%= notice %></p>
<div class="image">
<%= link_to image_tag("#{@image.url}", height:"60%", width:"60%"), image_path(@image) %>
<p>
  <strong>Name:</strong>
  <%= @image.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>
<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', galleries_path %>
</div>
