<header>
	<div class="navbar-inner navbar-default">
		<div class="container"> 
			<div class="navbar-header">
				<a class="navbar-brand" href="#">WINSEDECOR</a>
			</div>    
			<ul class="nav nav-pills pull-right in-line">
				<li><%= link_to "HOME",   '#'%></li>
				<li><%= link_to "SERVICES",   '#'%></li>
				<li><%= link_to "GALLERY",   '#'%></li>
				<li><%= link_to "BLOG",   '#'%></li>
				<li><%= link_to "CONTACT",   '#'%></li>	
			</ul>
		</div>
	</div>
</header>
